@model Proyecto.Models.DatosPaciente

@{
    ViewData["Title"] = "CrearCita";
}

<h1>Crear Cita</h1>

<h4>Datos Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearCita">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Trabajo, htmlAttributes: new { @class = "control-label col-md-2" })
                <select required @Html.EditorFor(model => model.Trabajo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Trabajo, "", new { @class = "text-danger" })>
                    <option value="">Elige una opción</option>
                    <optgroup label="Trabajador de Establecimiento para la integridad:(1)">
                        <option value="1">Asistencia a Pacientes con COVID-19</option>
                        <option value="2">Comunidad de apoyo, Comadronas, Promotores voluntarios y Terapeutas mayas</option>
                        <option value="3">Estudiantes de ciencias de la salud</option>
                        <option value="4">Cuerpos de socorro: Bomberos y paramedicos de ambulancias, trabajadores de funerarias, personal que labora en asilos</option>
                        <option value="5">Personas internas en hogares o instituciones de adultos mayores asilos</option>
                        <option value="6">Traajadores del sector de salud ADMINISTRATIVOS</option>
                    </optgroup>
                    <optgroup label="Trabajadores de Servicios Basicos:">
                        <option value="9">Sector seguridad nacional, (incluye PNC, PMT, militares y personal del sistema penitenciario)</option>
                        <option value="10">Registrados en municipalidades, y entidades que presntan servicios de Electricidad, Agua y recolección de basura</option>
                        <option value="11">Sector educación (maestros primario, básico, universitario, incluye funcionarios Ministerio de Educación)</option>
                        <option value="12">Sector justicia, (jueces, personal en tribunales)</option>
                    </optgroup>
                    <optgroup label="Otro::">
                        <option value="15">Otro Trabajo</option>
                        <option value="15">Ningun trabajo</option>
                    </optgroup>

                </select>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Enfermedades, htmlAttributes: new { @class = "control-label col-md-2" })
                <select required @Html.EditorFor(model => model.Enfermedades, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Enfermedades, "", new { @class = "text-danger" })>
                    <option value="">Elige una opción</option>
                    <option value="1">Hipertensión arterial que requiere medicamento</option>
                    <option value="1">Diabetes mellitus</option>
                    <option value="1">Enfermedad pulmonar crónica</option>
                    <option value="1">Enfermedad renal crónica</option>
                    <option value="1">Enfermedades cardiovasculares y cerebrovasculares</option>
                    <option value="1">Inmunosupresión (VIH, cáncer, uso de inmunosupresores)</option>
                    <option value="1">Obesidad (IMC ≥ 30)</option>
                    <option value="0">Otra o ninguna de estas enfermedades....</option>
                </select>
            </div>
            @ViewData["SINMUNI"]
            <div class="form-group">
                @Html.LabelFor(model => model.Municipio, htmlAttributes: new { @class = "control-label col-md-2" })
                <select required @Html.EditorFor(model => model.Municipio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Municipio, "", new { @class = "text-danger" })>
                    <option value="">Elige una opción</option>
                    <option value="@ViewData["MUN1"]">@ViewData["MUN1"]</option>
                    <option value="@ViewData["MUN2"]">@ViewData["MUN2"]</option>
                    <option value="@ViewData["MUN3"]">@ViewData["MUN3"]</option>
                    <option value="@ViewData["MUN4"]">@ViewData["MUN4"]</option>
                    <option value="@ViewData["MUN5"]">@ViewData["MUN5"]</option>
                    <option value="@ViewData["MUN6"]">@ViewData["MUN6"]</option>
                    <option value="@ViewData["MUN7"]">@ViewData["MUN7"]</option>
                    <option value="@ViewData["MUN8"]">@ViewData["MUN8"]</option>
                    <option value="@ViewData["MUN9"]">@ViewData["MUN9"]</option>
                    <option value="@ViewData["MUN10"]">@ViewData["MUN10"]</option>
                    <option value="@ViewData["MUN11"]">@ViewData["MUN11"]</option>
                    <option value="@ViewData["MUN12"]">@ViewData["MUN12"]</option>
                    <option value="@ViewData["MUN13"]">@ViewData["MUN13"]</option>
                    <option value="@ViewData["MUN14"]">@ViewData["MUN14"]</option>
                    <option value="@ViewData["MUN15"]">@ViewData["MUN15"]</option>
                    <option value="@ViewData["MUN16"]">@ViewData["MUN16"]</option>
                    <option value="@ViewData["MUN17"]">@ViewData["MUN17"]</option>
                    <option value="@ViewData["MUN18"]">@ViewData["MUN18"]</option>
                    <option value="@ViewData["MUN19"]">@ViewData["MUN19"]</option>
                    <option value="@ViewData["MUN20"]">@ViewData["MUN20"]</option>
                    <option value="@ViewData["MUN21"]">@ViewData["MUN21"]</option>
                    <option value="@ViewData["MUN22"]">@ViewData["MUN22"]</option>
                    <option value="@ViewData["MUN23"]">@ViewData["MUN23"]</option>
                    <option value="@ViewData["MUN24"]">@ViewData["MUN24"]</option>
                    <option value="@ViewData["MUN25"]">@ViewData["MUN25"]</option>
                    <option value="@ViewData["MUN26"]">@ViewData["MUN26"]</option>
                    <option value="@ViewData["MUN27"]">@ViewData["MUN27"]</option>
                    <option value="@ViewData["MUN28"]">@ViewData["MUN28"]</option>
                    <option value="@ViewData["MUN29"]">@ViewData["MUN29"]</option>
                    <option value="@ViewData["MUN30"]">@ViewData["MUN30"]</option>
                    <option value="@ViewData["MUN31"]">@ViewData["MUN31"]</option>
                    <option value="@ViewData["MUN32"]">@ViewData["MUN32"]</option>
                    <option value="@ViewData["MUN33"]">@ViewData["MUN33"]</option>


                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
