@model IEnumerable<Proyecto.Models.DatosPaciente>

@{
    ViewData["Title"] = "FechadeCitas";
}

<h1>Fecha de Citas</h1>
@ViewData["Fechas"]
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DPIPartidadenacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePaciente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoPaciente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DPIPartidadenacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipio)
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="Index" method="get">
    <input type="submit" class="btn btn-primary" value="Regresar Index" />
</form>
<br />
<form asp-action="CamasVacunacion" method="get">
    <input type="submit" class="btn btn-primary"  value="Vacunar" />
</form>